---
import Layout from "../layouts/Layout.astro";
import App from "../app/App";
---

<Layout
    title="株式会社三六〇(360Inc.)公式サイト"
    description="株式会社三六〇(360Inc.)は、最先端のデジタルソリューションを提供するクリエイティブエージェンシーです。"
>
    <main>
        <App client:only="react" />
    </main>
</Layout>
