---
import Layout from "../layouts/Layout.astro";
import { LMessageSupportPageContent } from "../app/pages/LMessageSupportPageContent";
---

<Layout title="L Message (エルメ) 正規代理店導入サポート | 360 Inc.">
    <main>
        <LMessageSupportPageContent client:load />
    </main>
</Layout>
